@page
@model SETool_RazorPage.Pages.Students.Projects.IndexModel
@{
}
<div class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Project</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        @if (Model.Projects.Count == 0)
                        {
                            <p>
                                Teacher don't have any project right now.
                            </p>
                            <a class="btn btn-primary" asp-page="./Create">Create new project</a>
                        }
                        else
                        {
                            <a class="btn btn-primary" asp-page="./Create">Create new project</a>
                            <table class="table table-striped dataTable mt-4" role="grid"
                                   aria-describedby="user-list-page-info">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Projects[0].Id)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Projects[0].Name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Projects[0].Description)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Projects[0].Status)
                                        </th>
                                        <th>
                                            Semester
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in @Model.Projects)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Id)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Description)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Status)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Semester.Name)
                                            </td>
                                            <td>
                                                <div class="flex align-items-center list-user-action">
                                                    <a class="btn btn-sm bg-primary" data-toggle="tooltip" data-placement="top" title=""
                                                       data-original-title="Remove" asp-page="./Create" asp-route-id="@item.Id"><i class="ri-delete-bin-line mr-0"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
