@page
@model SETool_RazorPage.Pages.Students.Groups.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Group</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>
                            Create new group
                        </p>
                        <form method="get">
                            <div class="form-group">
                                <input class="form-control" asp-for="SearchString">
                                <div class="text-center">
                                                <input type="submit" value="Login" class="btn btn-white" asp-page-handler="Submit" />
                                            </div>
                            </div>
                        </form>
                        <form method="post">
                            <p>Your new group</p>
                            <div class="form-group">
                                <input class="form-control" asp-for="GroupViewModel.Name">
                                <span asp-validation-for="GroupViewModel.Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input class="form-control" asp-for="GroupViewModel.Description">
                                <span asp-validation-for="GroupViewModel.Description" class="text-danger"></span>
                            </div>
                            @* table for group member  *@
                            @if (Model.UsersInPending == null
                                    || Model.UsersInPending.Count == 0)
                            {
                                <p>Please add from 4-5 member</p>
                            }
                            else
                            {
                                <table class="table table-striped dataTable mt-4" role="grid"
                                       aria-describedby="user-list-page-info">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.UsersInPending[0].Id)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.UsersInPending[0].FirstName)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.UsersInPending[0].LastName)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.UsersInPending[0].Email)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in @Model.UsersInPending)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Id)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.FirstName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.LastName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Email)
                                                </td>
                                                <td>
                                                    <div class="flex align-items-center list-user-action">
                                                        <a class="btn btn-sm bg-primary" data-toggle="tooltip" data-placement="top" title=""
                                                           data-original-title="Remove" asp-page="./Remove" asp-route-id="@item.Id"><i class="ri-delete-bin-line mr-0"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                @if (!ModelState.IsValid)
                                {
                                    <div class="alert alert-danger">
                                        @foreach (var error in ModelState.Values.SelectMany(v => v.Errors))
                                        {
                                            <p>@error.ErrorMessage</p>
                                        }
                                    </div>
                                }
                            }
                            
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="submit" class="btn bg-danger">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
