@page
@model SETool_RazorPage.Pages.Students.Groups.IndexModel

@{
    ViewData["Title"] = "GroupPage";
}

<div class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Group</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        @if (Model.Group == null)
                        {
                            <p>
                                You don't belong to any group right now.
                            </p>
                            <a class="btn btn-primary" asp-page="./Create">Create new group</a>
                        }
                        else 
                        {
                            <table class="table table-striped dataTable mt-4" role="grid"
                                   aria-describedby="user-list-page-info">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.MemberViewModels[0].Id)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.MemberViewModels[0].FirstName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.MemberViewModels[0].LastName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.MemberViewModels[0].Email)
                                        </th> 
                                        <th>
                                            @Html.DisplayNameFor(model => model.MemberViewModels[0].IsLeader)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in @Model.MemberViewModels)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Id)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FirstName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.LastName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Email)
                                            </td>
                                            <td>
                                                @if(item.IsLeader)
                                                {
                                                    <p>x</p>
                                                }
                                            </td>
                                            @if (Model.IsLeader)
                                            {
                                                <td>
                                                    <div class="flex align-items-center list-user-action">
                                                        <a class="btn btn-sm bg-primary" data-toggle="tooltip" data-placement="top" title=""
                                                           data-original-title="Remove" asp-page="./Create" asp-route-id="@item.Id"><i class="ri-delete-bin-line mr-0"></i></a>
                                                    </div>
                                                </td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
